<div class="top-bar-left menu-text">
	<h5>NoticeBoard</h5>
</div>
<div class="top-bar-right">
	<div class="button-group" style="margin-bottom: 0rem;">
		{{#if SPRING_SECURITY_CONTEXT.authentication}}
			<a class="button" href="/logout">로그아웃</a> <a class="button" href="/mypage">내 정보</a>
		{{else}}
			<a class="button" href="/login">로그인</a> <a class="button" href="/register">회원가입</a>
		{{/if}}
	</div>
</div>