<div class="top-bar-left menu-text">
	<h5>NoticeBoard</h5>
</div>
<div class="top-bar-right">
	<div class="button-group" style="margin-bottom: 0rem;">
		<a class="button" href="/login">로그인</a> <a class="button" href="/register">회원가입</a>
	</div>
</div>