<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>NoticeBoard</title>
<link rel="stylesheet" href="../css/library/foundation.min.css">
<link rel="stylesheet" href="../css/app.css">
</head>
<body>
	<div class="top-bar">{{{topbar}}}</div>
	<div class="grid-container">
		{{{notice}}}
		<hr class="cell">
		<div class="comments grid-x grid-margin-x">
			<h3>Comment</h3>
			<hr class="cell">
			<div id="comment" class="cell">{{{readComment}}}</div>
			<div class="writeComment cell grid-x">
				<h4 class="cell">WriteComment</h4>
				<textarea name="comment" id="writeComment" cols="10" rows="5"
					class="cell small-11"></textarea>
				<button type="button" class="cell small-1 button">submit</button>
			</div>
		</div>
	</div>
	<script id="comment-template" type="text/x-handlebars-template">
        {{{commentTemplate}}}
  	</script>
	<script src="../js/library/jquery.js"></script>
	<script src="../js/library/foundation.min.js"></script>
	<script src="../js/library/handlebars.js"></script>
	<script src="../js/app/NoticeReadApp.js"></script>
</body>
</html>