<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notice Board</title>

<link rel="stylesheet" href="../css/library/foundation.min.css">
<link rel="stylesheet" href="../css/app.css">

</head>
<body>
    <div class="top-bar">
        {{include "/common/topbar"}}
    </div>
    <div class="grid-container grid-x">
        <div class="cell">
            <h3 class="text-center">Login</h3>
        </div>
        <form action="" method="post" class="cell grid-x small-4 float-center">
            <label for="id" class="cell grid-x">
                <h4 class="cell small-2">ID</h4>
                <input type="text" name="id" id="id" placeholder="ID" class="cell small-10">
            </label>
            <label for="password" class="cell grid-x">
                    <h4 class="cell small-2">PW</h4>
                    <input type="password" name="password" id="password" placeholder="Password" class="cell small-10">
                </label>
        </form>
    </div>
	<script src="../js/library/jquery.js"></script>
	<script src="../js/library/foundation.min.js"></script>
</body>
</html>